:root {
    font-size: 62.5%;
}
html,body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
    font-size: 2rem; 
    background-color: whitesmoke;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

/* Work in Progress Bar */
.work-in-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: #000;
    text-align: center;
    padding: 1rem; /* 1rem */
    font-size: 2rem; /* 2rem */
    z-index: 1050; /* Ensure it stays above other content */
}

.loading-icon {
    width: 3rem; /* 3rem */
    height: 3rem; /* 3rem */
    animation: spin 2s linear infinite; /* Rotates continuously */
    margin-left: 1rem; /* 1rem */
    filter: invert(100%) grayscale(100%) contrast(100%);
    text-align: center; /* Center the image */
}

.loading-icon img {
    display: inline-block; /* Ensure the image is treated as an inline element */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h2 {
    font-size: 4rem; /* Adjust the size as needed */
}

h4 {
    font-size: 1.9rem; /* Adjust the size as needed */
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 5rem; /* 5rem */
    padding: 1rem 1rem; /* 1rem 1rem */
    z-index: 1000; 
    background-color: #000;
    position: fixed; /* Fix the navbar to the top */
    width: 100%; /* Make sure the navbar takes the full width */
    left: 0; /* Ensure the navbar is aligned to the left */
    right: 0; /* Ensure the navbar is aligned to the right */
}

.navbar .logo img {
    font-size: 1rem; /* 1rem */
    font-weight: bold;
    color: #fff;
    height: 3rem; /* 3rem */
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 2rem; /* 0 2rem */
    font-size: 2rem; /* 2rem */
    transition: transform 0.5s ease; /* Adds smooth animation for color change */
}

.navbar .nav-links a:hover {
    transform: scale(1.2);
}

.form-container {
    border: 0.125rem solid #ccc; 
    padding: 1.25rem; 
    border-radius: 0.625rem; 
    background-color: #fff;
    color: #000;
    width: 100%;
    max-width: 45rem; 
    box-sizing: border-box;
    margin-top: 1.25rem;
    box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.1);
    text-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.2);
}

.form-control {
    width: 100%; /* Makes the text box take up the full width of its container */
    height: 3.125rem; /* 50px */
    font-size: 1.2rem; /* Increases the font size inside the text box */
    padding: 0.625rem; /* 10px */
    border-radius: 0.3125rem; /* Optional: rounds the corners of the text box */
    border: 0.0625rem solid #ccc; /* Optional: adds a border */
}
.form-control::placeholder {
    font-size: 1.5rem; /* Increases the placeholder text size */
    color: #888; /* Optional: changes the placeholder text color */
}

select {
    font-size: 1rem; /* Increase the text size of the dropdown */
    padding: 0.625rem; /* 10px */
    border-radius: 0.3125rem; /* Optional: rounds the corners of the dropdown */
    border: 0.0625rem solid #ccc; /* Optional: adds a border */
}

select option {
    font-size: 1.5rem; /* Increase the text size of the options */
}

.navbar .nav-links .dropdown,
.navbar .nav-links .list-gym {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.navbar .nav-links .dropdown i,
.navbar .nav-links .list-gym i {
    margin-left: 5px;
}

.navbar .nav-links .signup {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.navbar .hamburger {
    display: none;
    font-size: 2.5rem; /* 2.5rem */
    cursor: pointer;
    color: #fff;
}

.btn btn-primary {
    font-size: 5rem;
}
@media (max-width: 992px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    html,body {
        scroll-behavior: smooth;
        scroll-padding-top: 4rem; /* 4rem */
    }

    .navbar .nav-links {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        /* display: none; */
    }

    .navbar .nav-links a {
        margin: 0.3125rem 0; /* 5px 0 */
        width: 100%;
        text-align: left;
    }

    .navbar .nav-links .dropdown,
    .navbar .nav-links .list-gym {
        width: 100%;
        justify-content: space-between;
    }

    .navbar .nav-links .signup {
        width: 100%;
        text-align: center;
    }

    .navbar .hamburger {
        display: block;
        position: absolute;
        right: 1.25rem; /* 20px */
        top: 0.625rem; /* 10px */
    }
}

.hero-section {
    position: relative; /* Set position to relative for the pseudo-element */
    color: white;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 5rem; /* 80px */
    padding-left: 0%;
    padding-right: 0%;
    overflow: hidden; /* Prevent overflow of the pseudo-element */
}
.hero-section::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* Position it absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: url("../images/ai-generated-exercise-machines-in-a-gym-free-photo.jpg") no-repeat center center;
    background-size: cover;
    filter: blur(2px); /* Apply blur effect */
    z-index: 0; /* Send it to the back */
}

.hero-section h1 {
    font-size: 3rem; /* 3rem */
    margin-bottom: 1.25rem; /* 20px */
    /* text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.3); 2px 2px 4px */
    position: relative; /* Position text above the pseudo-element */
    z-index: 1; /* Bring text above the blurred background */
    font-size: 3rem; /* Adjust size as needed */
    color: #fff; /* Text color */
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ff0000, 0 0 15px #ff0000; /* Glowing effect */
    animation: glow 1s ease-in-out infinite alternate; /* Animation for glow effect */
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ffffff; /* Initial glow */
    }
    100% {
        text-shadow: 0 0 20px #0044ff, 0 0 30px #0044ff; /* Stronger glow */
    }
}

.hero-section .btn {
    font-size: 1.4rem; /* 1.4rem */
    padding: 0.75rem 2.5rem; /* 12px 40px */
    border-radius: 3.125rem; /* 50px */
    transition: transform 0.3s ease-out, background-color 0.3s ease-out; /* Set transition properties here */
    background-color: #000;
    position: relative; /* Position button above the pseudo-element */
    z-index: 1; /* Bring button above the blurred background */
}

.hero-section .btn:hover {
    transform: scale(1.1);
    background-color: #000;
}

.section-padding {
    padding: 3.75rem 0; /* 60px 0 */
}

.feature-list ul {
    list-style: none;
    padding-top: 0.3125rem; /* 5px */
}

.feature-list li {
    margin: 0.9375rem 0; /* 15px 0 */
}

.feature-list h4 {
    /* font-size: 1.2rem; */
    font-weight: bold;
}

.feature-list p {
    /* font-size: 1rem; */
    color: #555;
}

.feature-list i {
    font-size: 2.5rem; /* 2.5rem */
    color: #000;
    margin-bottom: 0.9375rem; /* 15px */
}

.card {
    border: 0.0625rem solid #ddd; /* Light gray border around the card */
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-bottom: 1.25rem; /* Space between the cards */
}

.card-body {
    padding: 1.25rem; /* 20px */
}

.card-title {
    font-weight: bold; /* Make the title bold */
    margin-bottom: 0.625rem; /* Space below the title */
}

.card-text {
    color: #555; /* Slightly darker text color for the description */
}
.footer {
    background-color: #333;
    color: white;
    padding: 1.25rem 0; /* 20px 0 */
    text-align: center;
}

.footer {
    background-color: #000;
    padding: 2.5rem 1.25rem; /* 40px 20px */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .left, .footer .center, .footer .right {
    flex: 1;
    min-width: 12.5rem; /* 200px */
    margin: 0.625rem; /* 10px */
}

.footer .left img {
    width: 6.25rem; /* 100px */
    margin-bottom: 1.25rem; /* 20px */
}

.footer .left p {
    margin-bottom: 1.25rem; /* 20px */
}

.footer .left form {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem; /* 20px */
    padding-right: 5%; /* 5% */
}

.footer .left input[type="email"] {
    padding: 0.625rem; /* 10px */
    width: 12.5rem; /* 200px */
    margin-right: 0.625rem; /* 10px */
    border: none;
    border-radius: 0.3125rem; /* 5px */
    background-color: #333;
    color: #fff;
}

.footer .left button {
    padding: 0.625rem 1.25rem; /* 10px 20px */
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer;
}

.footer .center, .footer .right {
    display: flex;
    flex-direction: column;
}

.footer .center h3, .footer .right h3 {
    margin-bottom: 0.625rem; /* 10px */
    font-size: 2.5rem;
    font-weight: bolder;
}

.footer .center a, .footer .right a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.3125rem; /* 5px */
    /* font-size: 1.6rem; */
}

.footer .right a {
    display: flex;
    align-items: center;
    padding-left: 40%; /* 40% */
}

.footer .right a i {
    margin-right: 0.625rem; /* 10px */
    padding-right: 0.625rem; /* 10px */
}

.footer .bottom {
    width: 100%;
    text-align: center;
    margin-top: 1.25rem; /* 20px */
    border-top: 0.0625rem solid #333; /* 1px */
    padding-top: 1.25rem; /* 20px */
}

.footer .bottom a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.625rem; /* 0 10px */
}


/* form */
/* .container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 500px;
}
.container h2 {
    margin-top: 0;
    font-size: 24px;
} */

#signup {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    /* height: 100vh; Ensure the section takes full viewport height */
    /* padding: 0 1.25rem; Add padding on the sides for some spacing */
}



.form-group {
    margin-bottom: 1.25rem; /* 20px */
}

.form-group input, .form-group select {
    padding: 0.625rem; /* 10px */
    border: 0.0625rem solid #ccc; /* 1px */
    border-radius: 0.3125rem; /* 5px */
    box-sizing: border-box;
}

.form-group label {
    display: block;
    margin-bottom: 0.3125rem; /* 5px */
    font-weight: bold;
    color: #000;
}

#submitBtn {
    width: 100%;
    padding: 0.9375rem; /* 15px */
    background-color: #007bff;
    color: white;
    border: none;
    /* border-radius: 1.5625rem;  */
    border-radius: 0.6rem; 
    font-size: 1.8rem; /* 16px */
    cursor: pointer;
    line-height: 1.5rem;
}

.btn:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.75rem; /* 12px */
}

@media (max-width: 992px) {
    .hero-section h1 {
        font-size: 0.875rem; /* 14px */
    }

    .navbar .nav-links {
        display: none;
    }
    .hero-section .btn {
        font-size: 1.1rem;
        padding: 0.625rem 1.875rem; /* 10px 30px */
    }

    .section-padding {
        padding: 2.5rem 0; /* 40px 0 */
    }

    .form-inline {
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        width: 100%;
        margin-bottom: 0.9375rem; /* 15px */
    }

    .form-control {
        width: 90%;
        margin: 0 auto;
    }

    .footer .timer {
        font-size: 1rem;
    }

    .feature-list .col-md-6 {
        margin-bottom: 1.25rem; /* 20px */
    }
    .footer .right a {
        display: flex;
        align-items: center;
        padding-left: 30%; /* 30% */
    }
}

.neon-sign {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 0.625rem #000, 0 0 1.25rem #000, 0 0 1.875rem #000; /* 10px, 20px, 30px */
    animation: neon-glow 1s infinite alternate;
}

@keyframes neon-glow {
    from {
        text-shadow: 0 0 0.625rem #f00, 0 0 1.25rem #f00, 0 0 1.875rem #f00; /* 10px, 20px, 30px */
    }
    to {
        text-shadow: 0 0 0.625rem rgb(234, 0, 255), 0 0 1.25rem rgb(255, 0, 242), 0 0 1.875rem rgb(255, 0, 234); /* 10px, 20px, 30px */
    }
}

.blog-content {
    padding: 3.75rem 0; /* 60px 0 */
}

.blog-content h2 {
    font-size: 2.5rem; /* 2.5rem */
    margin-bottom: 1.25rem; /* 20px */
}

.blog-content p {
    font-size: 1.1rem; /* 1.1rem */
    line-height: 1.6;
    color: #555;
    margin-bottom: 1.875rem; /* 30px */
}

.blog-content .btn {
    font-size: 1.2rem; /* 1.2rem */
    padding: 0.75rem 2.5rem; /* 12px 40px */
    border-radius: 3.125rem; /* 50px */
    background-color: #ff9800;
    color: white;
    text-decoration: none;
}

.blog-content .btn:hover {
    background-color: #f57c00;
}

@media (max-width: 767px) {
    .hero-section h1 {
        font-size: 2.5rem; /* 2.5rem */
    }

    html, body {
        scroll-behavior: smooth;
    }

    .hero-section .btn {
        font-size: 1.1rem; /* 1.1rem */
        padding: 0.625rem 1.875rem; /* 10px 30px */
    }

    .navbar .nav-links {
        display: none;
    }
    .form-inline {
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        width: 100%;
        margin-bottom: 0.9375rem; /* 15px */
    }

    .form-control {
        width: 90%;
        margin: 0 auto;
    }

    .footer .timer {
        font-size: 1rem; /* 1rem */
    }
}

@media (max-width: 435px) {
    html, body {
        font-size: 1.6rem; /* Adjust root font size for small screens */
        scroll-padding-top: 8rem;
    }
    /* .navbar {
        top: 5rem;
    } */
    .work-in-progress {
        font-size: 1.5rem; /* 1.5rem */
    } 

    .hero-section h1 {
        font-size: 3rem; /* 3rem */
    }
}



@media (min-width: 768px) and (max-width: 1200px) {
    html, body {
        scroll-padding-top: 8rem;
    }

    #whatsxfit{
        margin-top: 8rem;
        margin-left: -4rem;
    }

    .card {
        border: 0.0625rem solid #ddd; /* Light gray border around the card */
        border-radius: 0.625rem; /* 10px */
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Subtle shadow */
        margin-bottom: 1rem; /* Space between the cards */
    }
    
    .card-body {
        padding : none; /* 20px */
        height: 21rem;

    }

    .col-md-4.text-center {
        padding: 1rem; /* Adjust the value as needed */
        
    }
}
